.tweetSection {
  margin-top: 25px;
}

.userName {
  display: inline-block;
  padding-left: 10px;
}

.screenName {
  color: #27a1ea;
  padding-left: 10px;
}

.userDisplay {
  border-radius: 30px;
  background: #a8d0e9;
  background: linear-gradient(to right, #FFF, #a8d0e9);
}

.tweetInfo {
  margin-top: 20px;
  border: 1px solid #dedede;
  padding: 25px;
}

.tweetPara {
  padding: 15px;
  color: #514a4a;
  font-size: 20px;
}

.userImage {
  border-radius: 50%;
  display: inline-block;
}

.userMentions {
  display: inline-block;
  padding-left: 10px;
}
